
.casecard{
    width:85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 50px;
    padding: 0 2rem 2rem 1rem;
}

.caseimg
{

    object-fit:cover;
    border-radius:10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}

.casetext{
    
   padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.head{
    font-size: 2.5rem;
}

.txt{
    font-size: 1.2rem;
   
}