.heroSection
{
   padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroText
{
    font-size: 3.8rem;
    text-align: center;
    width: 65%;
}

.floating1 {  
    animation-name: floating1;
    animation-duration: 2.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating1 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}


.floating2 {  
    animation-name: floating2;
    animation-duration: 2.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating2 {
    from { transform: translate(0,  -0px); }
    65%  { transform: translate(0, -10px); }
    to   { transform: translate(0, 0px); }    
}

.aboutSection
{
    padding: 3.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aboutHeading
{
    font-size: 3vw;
    text-align: center;
    width: 80%;
}

.aboutText
{
    font-size: 3vw;
    text-align: center;
    width: 85%;
    position: relative;
    bottom:20px;
}


