.heroSection
{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroText
{
    font-size: 3.5vw;
    text-align: center;
    width: 65%;
}

.aboutSection
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aboutHeading
{
    font-size: 3vw;
    text-align: center;
    width: 80%;
}

.aboutText
{
    font-size: 3vw;
    text-align: center;
    width: 85%;
    position: relative;
    bottom:5vh;
}


